<div id="container">
  <div id="left_container">
    <div id="sidebar"> </div>
  </div>

  <div id="right_container">
    <div id="top_part">
      top_part
      
    </div>

    <div id="history_flow"> 
      <div id="chartContainer" class="larger_view"> 
        <div id="chart"> 

        </div>
      </div>
    </div>
  </div>
</div>
