<div id="container">
  <div id="top_container">
    <div id="wrapper" class="toggled">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      History
                  </a>
              </li>

          </ul>
      </div>
    </div>
    <div id="code_blocks"> </div>
  </div>
  <div id="bottom_container">
    <div id="left_container">
      <div id="sidebar"><button id="menu-toggle" class="btn">History</button></div>
    </div>
    <div id="right_container">
      <div id="history_flow"></div>
    </div>
  </div>    
</div>
</div>

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>




