<div id="container">
  <div id="left_container">
    <div id="sidebar"> </div>
  </div>

  <div id="right_container">
    <div id="top_part"> 
      <div id="code_blocks"> </div>
    </div>

    <div id="history_flow"> 
    </div>
  </div>
</div>
