<div id="commit_block_container">
  <% @blobs.each do |b| %>
   <div class="commit_block">
      <pre class="git-lines language-ruby"><code><%= b.data.strip %></code></pre>
    </div>
  <% end %>
</div>
