// hf_ prefix for historyflow related parts
// cb_ prefix for code block related parts

$sidebar_width: 200px;
$commit_block_width: 500px;
$history_flow_height: 150px;

html, body {
  height: 100%;
  margin: 0;
}

#container {
  height: 100%;
}

#left_container {
  height: 100%;
  float: left;
  box-sizing: border-box;

  #sidebar {
    height: 100%;
    width: $sidebar_width;
    background-color: gray;
    overflow: auto;

    .author_block {
      border: 1px solid black;

      .author_info {
        height: 70px;
      }

      .author_commit_block {
        border: 1px solid black;
        height: 70px;
      }
    }
  }
}

#right_container {
  height: 100%;
  width: calc(100% - #{$sidebar_width});
  box-sizing: border-box;
  float: left;

  #top_part {
    height: calc(100% - #{$history_flow_height});

    #code_blocks {
      height: 100%;
      overflow: auto;
      white-space: nowrap;

      .cb_commit {
        vertical-align: top;
        display: inline-block;
        width: $commit_block_width;
        margin-right: 50px;

        .highlight_blame {
          border: 1px solid black;
          /*background: black;*/

        }
      }
    }
  }

  #history_flow {
    height: $history_flow_height;
    width: 100%;

    .hover_blame_block {
      /*stroke-width: 10;*/
      /*stroke: black;*/
      /*stroke-position: inside;*/

      fill: black !important;
      opacity: 0.7;
    }

    .faded_blame_block {
      opacity: 0.2;
    }

    .hidden_blame_block {
      display: none;
    }
  }
}

.hidden {
  display: none;
}

.code_block {
  overflow: hidden;
  pre {
    margin: 0;
    font-size: 12px;
  }
}

.larger_view {
  overflow: auto;
}

/*.node rect {*/
/*cursor: move;*/
/*fill-opacity: .9;*/
/*shape-rendering: crispEdges;*/
/*}*/

/*.node text {*/
/*pointer-events: none;*/
/*color: #FFFFFF;*/
/*}*/

/*.link {*/
/*fill: none;*/
/*stroke: #000;*/
/*stroke-opacity: .2;*/
/*}*/

/*.link:hover {*/
/*stroke-opacity: .5;*/
/*}*/
