$sidebar_width: 200px;
$commit_block_width: 300px;
$history_flow_height: 150px;

html, body {
  height: 100%;
  margin: 0;
}

#container {
  height: 100%;
}

#left_container {
  height: 100%;
  float: left;
  box-sizing: border-box;
  #sidebar {
    height: 100%;
    width: 200px;
    background-color: gray;
    width: $sidebar_width;
    overflow: auto;

    .author_block {
      border: 1px solid black;

      .author_info {
        height: 70px;
      }

      .author_commit_block {
        border: 1px solid black;
        height: 70px;
      }
    }
  }
}

#right_container {
  height: 100%;
  width: calc(100% - #{$sidebar_width});
  box-sizing: border-box;
  float: left;

  #top_part {
    height: calc(100% - #{$history_flow_height});
  }

  #history_flow {
    height: $history_flow_height;
    width: 100%;

    /*#chartContainer {*/
      /*height: 100%;*/
      /*white-space: nowrap;*/

      /*#chart {*/
        /*transform-origin: 0 0;*/
      /*}*/
    /*}*/
  }
}

.blame_commit_block {
  vertical-align: top;
  display: inline-block;
  width: $commit_block_width;
  /*margin-right: 50px;*/
}

.hidden {
  display: none;
}

.code_block {
  overflow: hidden;
  pre {
    margin: 0;
    font-size: 12px;
  }
}

.larger_view {
  overflow: auto;
}

/*.node rect {*/
/*cursor: move;*/
/*fill-opacity: .9;*/
/*shape-rendering: crispEdges;*/
/*}*/

/*.node text {*/
/*pointer-events: none;*/
/*color: #FFFFFF;*/
/*}*/

/*.link {*/
/*fill: none;*/
/*stroke: #000;*/
/*stroke-opacity: .2;*/
/*}*/

/*.link:hover {*/
/*stroke-opacity: .5;*/
/*}*/
